*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: aqua;
}
.container{
    margin: 50px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items:center;
    box-shadow: 2px 2px 5px rgb(0, 0,0.5);
    background: rgba(0, 0, 0,0.5);
    
}
img{
    width: 40%;
    border: 1px solid green;
    border-radius: 7px;
    position: relative;
}
.text{
    background: black;
    margin: 0 15px;
    border: 1px solid rgb(194, 48, 61);
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgb(0, 0,0.9);
}
h1{
    text-align: center;
    font-size: 45px;
    color: red;
}
p{
    color: white;
    text-align: center;
    line-height: 1.5;
    font-size: 15px;
    padding: 5px;
}
.textonimage{
    position: absolute;
    left: 320px;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    color: yellow;
    font-weight: 800;
    text-shadow: 2px 2px 4px #4510c2;
}